body {
  height: 6000px;
}
.dropdown_list li {
  position: relative;
  display: block;
}
.dropdown_list li a {
  padding: 10px 26px;
  text-align: center;
  display: block;
  font-size: 17px;
}
.dropdown_list {
  margin: 0;
  padding: 0;
  z-index: 999;
  position: absolute;
  display: none;
  
}
.dropdown_item {
  color: rgba(99, 102, 241, 1);
  border: 2px solid rgba(99, 102, 241, 1);
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
}
.nav_menu_flex li:hover .dropdown_list {
  display: block;
}

ul.dropdown_list li a:hover {
  background-color: rgba(99, 102, 241, 1);
  color: white;
}
