body {
  margin: 0;
  padding: 0;
}

.regular_background {
  background-image:linear-gradient(107.03deg, rgba(69, 99, 255, 0.075) 2.3%, 
  rgba(248, 83, 221, 0.05) 136.36%);
}

.container {
  margin: 0 auto;
  max-width: 1131px;
  width: 100%;
}
.logo {
  display: flex;
  max-width: 195px;
  width: 100%;
  justify-content: space-between;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px 0;

}

.header_navmenu {
  max-width: 501px;
  width: 100%;
}

.header_navmenu li {
  font-size: 18px;
  list-style-type: none;
  cursor: pointer;
}

.nav_menu_flex {
  display: flex;
  justify-content: space-between;
  
}

.search_bag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 62px;
  width: 100%;
}

.search_bag button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

.parent_position {
  position: relative;
}
.position_absolute {
  color: white;
  background-color: rgba(99, 102, 241, 1);
  height: 10px;
  font-size: 8px;
  border-radius: 10px;
  position: absolute;
  left: 16px;
  bottom: 9px;
  padding: 2px 5px;
}

.calendar_icon {
  margin-right: 15px;
}

.book_button {
  max-width: 220px;
  width: 100%;
  height: 50px;
  background-color: rgba(99, 102, 241, 1);
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 25px 0px 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_menu_flex a {
  text-decoration: none;
}
a {
  color: rgba(136, 136, 136, 1);
}

.purple_link {
  color:rgba(99, 102, 241, 1);
}

hr {
  margin-bottom: 0;
  max-width: 1170px;
  width: 100%;
  border: 1px solid rgba(99, 102, 241, 0.13);
}

/* First section */
.regular_background_img {
  background: 
  linear-gradient(107.03deg, rgba(69, 99, 255, 0.075) 2.3%, 
  rgba(248, 83, 221, 0.05) 136.36%), 
  url(./background_img/image.svg) no-repeat left 450px top 55px;
  background-size: contain;
}
.title_flex {
  display: flex;
  flex-direction: column;
  max-width: 531px;
  width: 100%;
  padding-top: 126px;
}

.title_flex h1 {
  font-size: 85px;
  color: rgba(32, 31, 80, 1);
  line-height: 106px;
}

.title_flex p {
  color: rgba(136, 136, 136, 1);
  width: 465px;
  height: 44px;
  left: 135px;
  top: 573px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 193px;
}

/* booking and article section */
  .booking_bar {
    max-width: 770px;
    width: 100%;
    padding: 29px 20px 40px 20px;
    position:absolute;
    top: 825px;
    left: 135px;
    background-color:rgba(255, 255, 255, 1);
    border-radius: 15px;
  }

  .booking_wrapper {
    display: flex;
    flex-direction: column;
  }

  .top_book {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .top_book button {
    background-color: rgba(99, 102, 241, 1);
    max-width: 125px;
    width: 100%;
    padding: 9px 23px;
    border: 1px solid rgba(99, 102, 241, 1);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    white-space: nowrap;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
  }

  .bottom_book {
    display: flex;
    justify-content: space-between;
  }

  .frame_book {
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 7px;
    padding: 9px 26.33px 8px 10px;
    max-width: 233.33px;
    width: 100%;
    max-height: 60px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    
  }

  .frame_book h3 {
    margin: 0;
    font-family: sans-serif;
    width: 119px;
    height: 43px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: rgba(0, 0, 0, 1);
    white-space: nowrap;
  }
  .frame_book h3 span {
    color: rgba(136, 136, 136, 1);
  }

  .img_book {
    max-width: 40px;
    width: 100%;
  }


  .article_wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    width: 100%;
    position: relative;
    margin-top: 197px;
  }

  .article {
    max-width: 370px;
    width: 100%;
    padding: 50px 30px 45px 30px;
  }

  .article_second {
    max-width: 370px;
    width: 100%;
    margin: 0 30px 0 30px;
    background-image: linear-gradient(rgba(69, 99, 255, 0.075), rgba(248, 83, 221, 0.075));
    padding: 50px 30px 45px 30px;
  }

