body {
  margin: 0;
  padding: 0;
}

.regular_background {
  background-image:linear-gradient(107.03deg, rgba(69, 99, 255, 0.075) 2.3%, 
  rgba(248, 83, 221, 0.05) 136.36%);
}

.container {
  margin: 0 auto;
  max-width: 1131px;
  width: 100%;
}
.logo {
  display: flex;
  max-width: 195px;
  width: 100%;
  justify-content: space-between;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px 0;

}

.header_navmenu {
  max-width: 501px;
  width: 100%;
}

.header_navmenu li {
  font-size: 18px;
  list-style-type: none;
  cursor: pointer;
}

.nav_menu_flex {
  display: flex;
  justify-content: space-between;
  
}

.search_bag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 62px;
  width: 100%;
}

.search_bag button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

.parent_position {
  position: relative;
}
.position_absolute {
  color: white;
  background-color: rgba(99, 102, 241, 1);
  height: 10px;
  font-size: 8px;
  border-radius: 10px;
  position: absolute;
  left: 16px;
  bottom: 9px;
  padding: 2px 5px;
}

.calendar_icon {
  margin-right: 15px;
}

.book_button {
  max-width: 220px;
  width: 100%;
  height: 50px;
  background-color: rgba(99, 102, 241, 1);
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 25px 0px 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_menu_flex a {
  text-decoration: none;
}
a {
  color: rgba(136, 136, 136, 1);
}

.purple_link {
  color:rgba(99, 102, 241, 1);
}

hr {
  margin-bottom: 0;
  max-width: 1170px;
  width: 100%;
  border: 1px solid rgba(99, 102, 241, 0.13);
}

/* First section */
.background_image {
  background: url(./background_img/image.svg) no-repeat right;
  background-size:contain;
  padding: 55px 0 0 0;
  position: relative;
  
}
.title_flex {
  display: flex;
  flex-direction: column;
  max-width: 531px;
  width: 100%;
}

.title_flex h1 {
  font-size: 85px;
  color: rgba(32, 31, 80, 1);
  line-height: 106px;
}
